* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9c9c9c;
}


a {
  text-decoration: none;

}

ul {
  list-style: none;
}

header {
  height: 64px;
  padding: 0 24px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  width: 32px;
  height: auto;
}

.nav-pc {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;

}

.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  justify-content: center;

}

.hero-img {
  max-width: 60%;
  height: 50vh;
  padding: 32px 24px;

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-title {
  margin-bottom: 16px;
}

.hero-btn {
  background-color: rgb(79, 81, 80);
  color: #fff;
  padding: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  border: none;
  font-size: 12px;
  text-align: center;
}

.information {
  display: flex;
  background: #fff;
  max-width: 1280px;
  margin: auto;
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 32px 24px;
}

.info-img-left {
  width: 100%;
}

.info-left-title {
  margin: 32px 0 24px 0;
}

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-right-card {
  display: flex;
  align-items: center;
  padding: 16px;
}

.info-img-right {
  width: 35%;
  height: auto;
  max-width: 100%;
}

.info-right-text {
  width: 65%;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

h2 .info-right-title {
  margin-bottom: 8px;
}

a .info-right-text {
  margin: 8px;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0 32px 0;
  max-width: 1280px;
  background: red;
}

figure h1 {
  margin: 0 0 32px 0;
  background: blueviolet;
  text-align: center;
}

figure > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(110, 75, 75);
}