* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9c9c9c;
}

.nav-link a {
  color: black;
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

header {
  height: 64px;
  padding: 0 24px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  width: 32px;
  height: auto;
}

.nav-pc {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;

}

.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}

.hero-img {
  max-width: 60%;
  padding: 32px 24px;

}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 24px;
}

.hero-title {
  margin-bottom: 16px;
}

.hero-btn {
  background-color: rgb(79, 81, 80);
  color: #fff;
  padding: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  border: none;
  font-size: 12px;
  text-align: center;
}

.information {
  display: flex;
  background: #fff;
  max-width: 1280px;
  margin: auto;
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 32px 24px;
}

.info-img-left {
  width: 100%;
}

.info-left-title {
  margin: 32px 0 24px 0;
}

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-right-card {
  display: flex;
  align-items: center;
  padding: 16px;
}

.info-img-right {
  width: 35%;
  height: auto;
  max-width: 100%;
}

.info-right-text {
  width: 65%;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

h2 .info-right-title {
  margin-bottom: 8px;
}

a .info-right-text {
  margin: 8px;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0 32px 0;
  max-width: 1280px;
  background: red;
}

figure h1 {
  margin: 0 0 32px 0;
  background: blueviolet;
  text-align: center;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-left: 72px;
  margin-right: 72px;

}

.course-list-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(110, 75, 75);
}

.course-list img {
  width: 100%;
  height: auto;
}

.course-list-text {
  text-align: left;
  padding: 16px;
}

.thesis-title {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.thesis-container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

.thesis-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  margin-right: 24px;
  background-color: aqua;
}

.thesis-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.thesis-right-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.thesis-right-card img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.thesis-right-text {
  display: flex;
  flex-direction: column;
}

.thesis-right-text p {
  margin-top: 8px;
}



/* mobile---------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  * {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #9c9c9c;
  margin: 0;
}

.nav-pc {
  display: none;
}

.nav-mobile {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

.hero {
  display: none;
}

.hero-mobile {
  display: flex;
  margin-top: 0;
  font-size: 24px;
  flex-direction: column;
  background-color: #ffffff;
}

.hero-mobile img {
  width: 100%;
}

.hero-text-mobile {
  width: 100%;
}

.hero-title-mobile {
  margin: 32px 16px 0 16px;
}

.hero-p {
  margin: 32px 16px 0 16px;
}

.hero-btn-mobile {
  width: 100%;
  margin: 24px 16px 32px 16px;
  display: block;
  color: #fff;
  background-color: #9c9c9c;
  border: none;
  padding: 8px 0px;
  font-size: large;
  font-weight: 700;
}

.information {
  display: none;
}

.information-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-left-mobile {
  display: none;
}

.info-right-mobile {
  width: 100%;
  display: flex;
}

.info-img-right-mb {
  width: 100px;
  margin: 16px 16px 0;
  text-align: center;
  max-width: 700;
}

.info-right-text-mb {
  padding-left: 16px;
  padding-top: 16px;
}

.info-right-title-mb {
  margin-bottom: 8px;
}

.read-more-mb {
  margin-top: 8px;
}









}