* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.nav-link a {
  color: black;
}

a {
  text-decoration: none;

}

ul {
  list-style: none;
}

header {
  height: 64px;
  padding: 0 24px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;

}

.logo img {
  width: 32px;
  height: auto;
}

.nav-pc {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav-mobile {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}

.hero-mobile {
  display: none;
}

.hero-img {
  max-width: 60%;
  padding: 32px 24px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 24px;
}

.hero-title {
  margin-bottom: 16px;
  font-size: 50px;
}

.hero-btn {
  background-color: rgb(79, 81, 80);
  color: #fff;
  padding: 8px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  border: none;
  font-size: 12px;
  text-align: center;
}

.information {
  display: flex;
  background: #fff;
  max-width: 1280px;
  margin: auto;
}

.information-mobile {
  display: none;

}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 32px 24px;
}

.info-img-left {
  width: 100%;
}

.info-left-title {
  margin: 32px 0 24px 0;
}

.info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-right-card {
  display: flex;
  align-items: center;
  padding: 16px;
  transition: all 0.3s ease-in;
}

.info-right-card:hover {
  background-color: aquamarine;
}

.info-img-right {
  width: 35%;
  height: auto;
  max-width: 100%;
}

.info-right-text {
  width: 65%;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

h2 .info-right-title {
  margin-bottom: 8px;
}

a .info-right-text {
  margin: 8px;
}


.course {
  padding: 32px 0 32px 0;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-mb {
  display: none;
}

figure h2 {
  margin: 0 0 32px 0;
  text-align: center;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 0 72px;
}
/* 
.course-list-1-center {
  margin-left: 32px;
  margin-right: 32px;
}

.course-list-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-left: 72px;
  margin-right: 72px;
}

.course-list-2-center {
  margin-left: 32px;
  margin-right: 32px;
} */

.course-list-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #d8d8d8;
  padding-bottom: 24px;
}

.course-list-card img {
  width: auto;
  height: auto;
  flex-shrink: 1;
}

.course-list-text h2 {
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
}

.course-list-text span {
  text-align: left;
  padding-left: 16px;
}

.course-list-text p {
  text-align: left;
  padding-left: 16px;
  margin-top: 8px;
}


.thesis-title {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
}

.thesis-container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
}

.thesis-mobile {
  display: none;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

.thesis-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  margin-right: 24px;
}

.thesis-left-text > h2 {
  margin-top: 24px;
  margin: 8px;
}

.thesis-left-text > p {
  margin-bottom: 8px;
  padding-left: 8px;
}

.thesis-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.thesis-right-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.thesis-right-card img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.thesis-right-text {
  display: flex;
  flex-direction: column;
}

.thesis-right-text p {
  margin-top: 8px;
}

footer {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  max-width: 1280px;
  padding: 16px 24px;
  border-top: 2px solid #000;
  margin: 0 auto;
}


/* mobile---------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  * {
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.nav-pc {
  display: none;
}

.nav-mobile {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

.hero {
  display: none;
}

.hero-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 24px;
  flex-direction: column;
  background-color: #ffffff;
}

.hero-mobile-img {
  width: 100%;
  text-align: center;
  max-width: 700px;
}

.hero-mobile .hero-text-mobile {
  width: 100%;
  margin: 8px 0 0;
}

.hero-title-mobile {
  margin: 32px 16px 0 16px;
}

.hero-p {
  margin: 32px 16px 0 16px;
}

.hero-btn-mobile {
  width: 80%;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #fff;
  background-color: #9c9c9c;
  border: none;
  padding: 8px 0;
  font-size: large;
  font-weight: 700;
}

.information {
  display: none;
}

.information-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px 16px;
}

.info-right-card-mobile {
  margin-top: 16px;
}

.info-left-mobile {
  display: none;
}

.info-right-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-img-right-mb {
  width: 100%;
  text-align: center;
  max-width: 700px;
}

.info-right-text-mb {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 16px;
}

.info-right-title-mb {
  margin-bottom: 8px;
}

.read-more-mb {
  margin-top: 8px;
}

.h1-mobile {
 display: none;
}

.course-list {
  display: none;
}


.course-mb {
  display: block;
  width: 100%;
  padding-bottom: 32px;
}

.course-mb h1 {
font-size: large;
text-align: center;
margin: 32px auto 16px;
color: #fff;
}

.course-mb p {
font-size: 1.25rem;
text-align: left;
margin: 32px auto 16px;
background: #cccbcb;
padding: 16px 16px 24px 16px;
margin: 0 16px 8px 16px;
font-weight: 600;
}

.thesis-title {
  display: none;
}

.thesis-container {
  display: none;
}

.thesis-mobile {
  display: block;
  padding-bottom: 24px;
}

.thesis-h1-mb {
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 2rem;
}

/* footer */
.term {
  display: none;
}

.commercial {
  font-size: 0.8;
  min-width: none;
  padding: 16px
}

};